---
import { resolveLocaleKey } from '../../../lib/site-data/page-registry.js';
import type { LocaleKey } from '../../../types/site';
import QuoteRequestForm from './QuoteRequestForm.tsx';
import '../../../styles/quote-request-page.css';

interface Props {
	locale: LocaleKey;
}

const { locale } = Astro.props as Props;
const resolvedLocale = resolveLocaleKey(locale) as LocaleKey;
---

<section class="quote-request-page">
	<div class="quote-request-page__shell">
		<QuoteRequestForm
			client:load
			locale={resolvedLocale}
			serviceKey="requestQuote"
			showHeader={false}
			compact={true}
		/>
	</div>
</section>
