---
import { getPagePath, resolveLocaleKey } from '../lib/site-data/page-registry.js';

const { pageKey, locale = 'en', href, hash, ...rest } = Astro.props;
const resolvedLocale = resolveLocaleKey(locale);
let resolvedHref = href ?? getPagePath(pageKey, resolvedLocale);

if (typeof hash === 'string' && hash.length > 0) {
	const normalizedHash = hash.startsWith('#') ? hash : `#${hash}`;
	resolvedHref = `${resolvedHref.split('#')[0]}${normalizedHash}`;
}
---

<a href={resolvedHref} {...rest}>
	<slot />
</a>
